[Unit]
Description=cvg_check timer

[Timer]
OnBootSec=1min
AccuracySec=1s
OnActiveSec=1min
OnUnitActiveSec=60min
Persistent=true
[Install]
WantedBy=timers.target
